<!-- HTML -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width">
  <title>MW - Login</title>
</head>

<body>
  <div id="root">
    <div class="App">
      <div class="login-page">
        <div class="login-box">
          <div class="img-box">
            <div class="login-form">
              <h1 class="login-form-title-h1">Bem Vindo!</h1>
              <p class="login-form-p">Entre com seu Login</p>
              <div class="ant-row ant-form-item input-container">
                <div class="ant-col ant-form-item-control">
                  <div class="ant-form-item-control-input">
                    <div class="ant-form-item-control-input-content"><input type="text" placeholder="Username"
                        id="login-form_username" class="ant-input" [(ngModel)]="dados.username" autocomplete="off">
                    </div>
                  </div>
                </div>
              </div>
              <div class="ant-row ant-form-item input-container password-input-container">
                <div class="ant-col ant-form-item-control">
                  <div class="ant-form-item-control-input">
                    <div class="ant-form-item-control-input-content"><span
                        class="ant-input-affix-wrapper ant-input-password"><input placeholder="Senha" action="click"
                          id="login-form_password" type="password" class="ant-input" [(ngModel)]="dados.password" autocomplete="off">
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ant-row ant-form-item">
                <div class="ant-col ant-form-item-control">
                  <div class="ant-form-item-control-input">
                    <button type="submit" class="ant-btn ant-btn-primary login-form-button"
                      (click)="Login()"><span>LOGIN</span></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="login-illustration-wrapper"><img src="/assets/img/eletromw-logo.png"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>